h2{color: darkgreen}
h1{color: purple}

.user{
  display: inline-block;
  background-color: lightblue;
  width: 6em;
  height: 3em;
  border: solid 0.1em darkblue;
  margin: 1em;
  word-wrap: break-word;
  font-size: 2em;
  color: darkblue;
  text-align: center;
}

span{color: red}
