<html>
<head>
<title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type ="text/javascript">
         $(document). ready(function (){
            var socket  = io.connect();
            var name = prompt('what is your name')
            socket.emit( "new_user", {name: name});

            socket.on( 'joined_user', function (data){
              console.log( 'User: '  + data.name);
              $('div.info').html('<h1>New User <span>' + data.name + '</span> has joined!</h1>')
              $('div.users').append('<div class="blue" id="' + data.id + '"> <p>' + data.name + '</p> </div>')

            });

            socket.on( 'disconnected_user', function (data){
              console.log( 'User: '  + data.id + ' has left');
              $('div.info').html('<h1>User <span>' + data.name + '</span> has disconnected!</h1>')
              $('#'+data.id).remove()
            });

            socket.on( 'existing_users', function (data){
              console.log( 'Existing: '  + data.users);
              var all_users = data.users
              for(var i = 0; i < all_users.length; i++){
                console.log(all_users[i].name)
                $('div.users').append('<div class="blue" id="' + all_users[i].id + '"> <p>' + all_users[i].name + '</p> </div>')
              }
            });
        })
    </script>
</head>
<body>
  <div class="info"></div>
  <div class="users"></div>
</body>
</html>
