<html>
<head>
<title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type ="text/javascript" src="/socket.io/socket.io.js"></script>
    <script type ="text/javascript">
         $(document). ready(function (){
            var socket  = io.connect();
            var name = prompt('what is your name')
            socket.emit( "new_user", {name: name});

            socket.on( 'joined_user', function (data){
              $('div.info').html('<h2>New User <span>' + data.name + '</span> has joined!</h2>')
              $('div.users').append('<div class="user" id="' + data.id + '"> <p>' + data.name + '</p> </div>')

            });

            socket.on( 'disconnected_user', function (data){
              $('div.info').html('<h2>User <span>' + data.name + '</span> has disconnected!</h2>')
              $('#'+data.id).remove()
            });

            socket.on( 'existing_users', function (data){
              var all_users = data.users
              for(var i = 0; i < all_users.length; i++){
                $('div.users').append('<div class="user" id="' + all_users[i].id + '"> <p>' + all_users[i].name + '</p> </div>')
              }
            });

            $( 'form').submit(function(){
              var inputs = $('form :input');
              var values = {};
              inputs.each(function() {
                  values[this.name] = $(this).val();
              });
              socket.emit( "form", {values: values});
              this.reset();
              event.preventDefault();
            });

            socket.on( 'new_message', function (data){
              $('div.messages').append('<div class="message" id="' + data.id + '"> <p>' + data.name + ' : ' + data.message + '</p> </div>')
            })

            socket.on( 'existing_messages', function (data){
              console.log( 'Existing messages: '  + data.messages);
              var all_messages = data.messages
              for(var i = 0; i < all_messages.length; i++){
                console.log(all_messages[i].name)
                $('div.messages').append('<div class="message" id="' + all_messages[i].id + '"> <p>' + all_messages[i].name + ' : ' + all_messages[i].message + '</p> </div>')
              }
            });
        })
    </script>
</head>
<body>
  <div class="info"></div>
  <div class="users"></div>
  <h1>Conversation Board</h1>
  <div class="messages"></div>
  <form class="chat" action="index.html" method="post">
    <input type="text" name="message" placeholder="enter your message here">
    <input type="submit" value="Send">
  </form>
</body>
</html>
